:root {
  --primary-color: #ffcb1f;
  --secondary-color: #000000;
  --secondary-text: #9f7a16;
}

body {
  background-color: white;
}

.main {
  width: 400px;
  height: 644px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--secondary-color);
}

@media (max-width: 481px) {
  .main {
    width: 100%;
    height: 100%;
  }
}

.main-header {
  height: 24px;
}

.main-header__title {
  font-weight: bold;
  padding-top: 12px;
  color: var(--secondary-text);
}

.main-body {
  flex: 1;
  padding: 24px;
  padding-bottom: 64px;
  font: "Fira Sans", sans-serif;
  /* padding-top: 108px; */
}

.main-footer {
  height: 44px;
  border-top: 1px solid var(--primary-color);
  background: linear-gradient(var(--primary-color), transparent);
  color: beige;
}

.home-container {
  font-size: 54px;
  line-height: 64px;
}

.create-description {
  font-size: 54px;
}

.styled-app-name {
  /* font-style: italic;
  font-weight: bolder; */
  font: italic small-caps bolder 54px/64px cursive;
}

.kacheri-cta {
  gap: 32px;
}

.cta-btn {
  background: black;
  color: white;
  padding: 12px;
  border-radius: 8px;
  /* border: 1px solid sandybrown; */
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.join-input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  background: white;
}

.play-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#waveform {
  border-radius: 36%;
}
