.main {
  width: 400px;
  height: 644px;
  border: 1px solid #b8860b;
  border-radius: 8px;
  background: #000000;
  color: #b8860b;
}

@media (max-width: 481px) {
  .main {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
}

.main-header {
  height: 84px;
  border-bottom: 1px solid #b8860b;
}

.main-header__title {
  font-size: 28px;
  font-weight: bold;
}

.main-body {
  flex: 1;
  padding: 48px;
  padding-top: 108px;
}

.main-footer {
  height: 44px;
  border-top: 1px solid #b8860b;
}

.create-description {
  font-size: 22px;
}

.kacheri-cta {
  gap: 32px;
}

.cta-btn {
  background: #b8860b;
  color: black;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid sandybrown;
  font-weight: bold;
}

.join-input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #b8860b;
  background: antiquewhite;
}

.play-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#waveform {
  border-radius: 50%;
}
